@import url(https://fonts.googleapis.com/css?family=Inter:200,regular,500,600,700,900&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 81.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.title,
.block-4__title,
.block-3__title,
.block-2__title,
.block-1-slide__title {
  font-weight: 600;
  line-height: 120%;
  color: #1D1D1D;
}

@supports (font-size: clamp( 1.75rem , 1.4523809524rem  +  1.4880952381vw , 2.375rem )) {
  .title,
  .block-4__title,
  .block-3__title,
  .block-2__title,
  .block-1-slide__title {
    font-size: clamp( 1.75rem , 1.4523809524rem  +  1.4880952381vw , 2.375rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.4523809524rem  +  1.4880952381vw , 2.375rem )) {
  .title,
  .block-4__title,
  .block-3__title,
  .block-2__title,
  .block-1-slide__title {
    font-size: calc(1.75rem + 0.625 * (100vw - 20rem) / 42);
  }
}

.btn-1,
.block-4__button,
.block-2__button {
  display: inline-block;
  padding: 0.5rem 1.8125rem;
  border-radius: 1.1875rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.94)), color-stop(52.08%, rgba(255, 255, 255, 0.24)), color-stop(52.09%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.29))), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), color-stop(51.56%, rgba(255, 255, 255, 0))), #F9D119;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.94) 0%, rgba(255, 255, 255, 0.24) 52.08%, rgba(255, 255, 255, 0) 52.09%, rgba(255, 255, 255, 0.29) 100%), -o-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 51.56%), #F9D119;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.94) 0%, rgba(255, 255, 255, 0.24) 52.08%, rgba(255, 255, 255, 0) 52.09%, rgba(255, 255, 255, 0.29) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 51.56%), #F9D119;
  color: #1D1D1D;
  line-height: 1.2142857143;
  font-weight: 500;
}

@supports (font-size: clamp( 0.9375rem , 1.3988095238rem  +  -0.744047619vw , 1.25rem )) {
  .btn-1,
  .block-4__button,
  .block-2__button {
    font-size: clamp( 0.9375rem , 1.3988095238rem  +  -0.744047619vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 1.3988095238rem  +  -0.744047619vw , 1.25rem )) {
  .btn-1,
  .block-4__button,
  .block-2__button {
    font-size: calc(1.25rem + -0.3125 * (100vw - 20rem) / 42);
  }
}

.text,
.block-4__text,
.block-2__text {
  color: #6C757D;
}

@supports (line-height: clamp( 1.25rem , 1.150990099rem  +  0.495049505vw , 1.5625rem )) {
  .text,
  .block-4__text,
  .block-2__text {
    line-height: clamp( 1.25rem , 1.150990099rem  +  0.495049505vw , 1.5625rem );
  }
}

@supports not (line-height: clamp( 1.25rem , 1.150990099rem  +  0.495049505vw , 1.5625rem )) {
  .text,
  .block-4__text,
  .block-2__text {
    line-height: calc(1.25rem + 0.3125 * (100vw - 20rem) / 63.125);
  }
}

@supports (font-size: clamp( 0.9375rem , 1.1220238095rem  +  -0.2976190476vw , 1.0625rem )) {
  .text,
  .block-4__text,
  .block-2__text {
    font-size: clamp( 0.9375rem , 1.1220238095rem  +  -0.2976190476vw , 1.0625rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 1.1220238095rem  +  -0.2976190476vw , 1.0625rem )) {
  .text,
  .block-4__text,
  .block-2__text {
    font-size: calc(1.0625rem + -0.125 * (100vw - 20rem) / 42);
  }
}

.header {
  height: 91px;
}

@supports (padding-top: clamp( 0.625rem , 0.1497524752rem  +  2.3762376238vw , 2.125rem )) {
  .header {
    padding-top: clamp( 0.625rem , 0.1497524752rem  +  2.3762376238vw , 2.125rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , 0.1497524752rem  +  2.3762376238vw , 2.125rem )) {
  .header {
    padding-top: calc(0.625rem + 1.5 * (100vw - 20rem) / 63.125);
  }
}

@supports (padding-bottom: clamp( 0.625rem , 0.1497524752rem  +  2.3762376238vw , 2.125rem )) {
  .header {
    padding-bottom: clamp( 0.625rem , 0.1497524752rem  +  2.3762376238vw , 2.125rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.1497524752rem  +  2.3762376238vw , 2.125rem )) {
  .header {
    padding-bottom: calc(0.625rem + 1.5 * (100vw - 20rem) / 63.125);
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-weight: 800;
  font-size: 1.4375rem;
  color: #31353B;
  line-height: 1.347826087;
}

.menu-open .header__logo {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #fff;
  z-index: 25;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.9375rem , 0.3236386139rem  +  3.0693069307vw , 2.875rem )) {
  .header__menu {
    gap: clamp( 0.9375rem , 0.3236386139rem  +  3.0693069307vw , 2.875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.3236386139rem  +  3.0693069307vw , 2.875rem )) {
  .header__menu {
    gap: calc(0.9375rem + 1.9375 * (100vw - 20rem) / 63.125);
  }
}

.header__item {
  font-size: 0.8125rem;
  line-height: 1.3076923077;
  font-weight: 700;
}

.icon-menu {
  display: none;
}

@supports (padding-top: clamp( 0.0000000625rem , -1.9390242912rem  +  6.4634145122vw , 3.3125rem )) {
  .main-page__block-2 {
    padding-top: clamp( 0.0000000625rem , -1.9390242912rem  +  6.4634145122vw , 3.3125rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , -1.9390242912rem  +  6.4634145122vw , 3.3125rem )) {
  .main-page__block-2 {
    padding-top: calc(0.0000000625rem + 3.3124999375 * (100vw - 30rem) / 51.25);
  }
}

@supports (padding-top: clamp( 1.875rem , -2.1859756098rem  +  13.5365853659vw , 8.8125rem )) {
  .main-page__block-3 {
    padding-top: clamp( 1.875rem , -2.1859756098rem  +  13.5365853659vw , 8.8125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -2.1859756098rem  +  13.5365853659vw , 8.8125rem )) {
  .main-page__block-3 {
    padding-top: calc(1.875rem + 6.9375 * (100vw - 30rem) / 51.25);
  }
}

.main-page__block-4 {
  padding-bottom: 500px;
}

@supports (padding-top: clamp( 1.875rem , -3.3932926829rem  +  17.5609756098vw , 10.875rem )) {
  .main-page__block-4 {
    padding-top: clamp( 1.875rem , -3.3932926829rem  +  17.5609756098vw , 10.875rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -3.3932926829rem  +  17.5609756098vw , 10.875rem )) {
  .main-page__block-4 {
    padding-top: calc(1.875rem + 9 * (100vw - 30rem) / 51.25);
  }
}

.block-1 {
  position: relative;
}

.block-1__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  width: 100%;
  margin-top: -2.5rem;
  padding-bottom: 1.25rem;
}

.block-1__pagination .swiper-pagination-bullet {
  padding: 1.25rem 0;
  width: 30%;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.block-1__pagination .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  background-color: rgb(255, 255, 255);
  opacity: 0.54;
}

.block-1__pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 0%;
  height: 0.1875rem;
  background-color: rgb(255, 255, 255);
  opacity: 0.54;
  background-color: #f9ae19;
}

.block-1__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  opacity: 1;
}

.block-1__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  opacity: 1 !important;
  -webkit-transition: width 5.5s linear 0s;
  -o-transition: width 5.5s linear 0s;
  transition: width 5.5s linear 0s;
  width: 100%;
}

.block-1-slide {
  position: relative;
}

.block-1-slide__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.63)), to(rgba(0, 0, 0, 0.63)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63));
}

.block-1-slide__bg img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

.block-1-slide__content {
  margin: 0.6875rem auto 2.5rem;
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (width: clamp( 19.0625rem , 9.5386904762rem  +  47.619047619vw , 39.0625rem )) {
  .block-1-slide__content {
    width: clamp( 19.0625rem , 9.5386904762rem  +  47.619047619vw , 39.0625rem );
  }
}

@supports not (width: clamp( 19.0625rem , 9.5386904762rem  +  47.619047619vw , 39.0625rem )) {
  .block-1-slide__content {
    width: calc(19.0625rem + 20 * (100vw - 20rem) / 42);
  }
}

@supports (height: clamp( 19.0625rem , 9.5386904762rem  +  47.619047619vw , 39.0625rem )) {
  .block-1-slide__content {
    height: clamp( 19.0625rem , 9.5386904762rem  +  47.619047619vw , 39.0625rem );
  }
}

@supports not (height: clamp( 19.0625rem , 9.5386904762rem  +  47.619047619vw , 39.0625rem )) {
  .block-1-slide__content {
    height: calc(19.0625rem + 20 * (100vw - 20rem) / 42);
  }
}

.block-1-slide__map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
}

.block-1-slide__title {
  line-height: 1.2058823529;
  color: #fff;
}

@supports (padding-top: clamp( 1.25rem , -5.2976190476rem  +  32.7380952381vw , 15rem )) {
  .block-1-slide__title {
    padding-top: clamp( 1.25rem , -5.2976190476rem  +  32.7380952381vw , 15rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -5.2976190476rem  +  32.7380952381vw , 15rem )) {
  .block-1-slide__title {
    padding-top: calc(1.25rem + 13.75 * (100vw - 20rem) / 42);
  }
}

@supports (margin-bottom: clamp( 0.3125rem , -0.4613095238rem  +  3.869047619vw , 1.9375rem )) {
  .block-1-slide__title {
    margin-bottom: clamp( 0.3125rem , -0.4613095238rem  +  3.869047619vw , 1.9375rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , -0.4613095238rem  +  3.869047619vw , 1.9375rem )) {
  .block-1-slide__title {
    margin-bottom: calc(0.3125rem + 1.625 * (100vw - 20rem) / 42);
  }
}

.block-1-slide__text {
  border-top: 1px solid #fff;
  margin: auto;
}

@supports (padding-top: clamp( 0.3125rem , 0.0446428571rem  +  1.3392857143vw , 0.875rem )) {
  .block-1-slide__text {
    padding-top: clamp( 0.3125rem , 0.0446428571rem  +  1.3392857143vw , 0.875rem );
  }
}

@supports not (padding-top: clamp( 0.3125rem , 0.0446428571rem  +  1.3392857143vw , 0.875rem )) {
  .block-1-slide__text {
    padding-top: calc(0.3125rem + 0.5625 * (100vw - 20rem) / 42);
  }
}

@supports (max-width: clamp( 15.625rem , 8.3928571429rem  +  36.1607142857vw , 30.8125rem )) {
  .block-1-slide__text {
    max-width: clamp( 15.625rem , 8.3928571429rem  +  36.1607142857vw , 30.8125rem );
  }
}

@supports not (max-width: clamp( 15.625rem , 8.3928571429rem  +  36.1607142857vw , 30.8125rem )) {
  .block-1-slide__text {
    max-width: calc(15.625rem + 15.1875 * (100vw - 20rem) / 42);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.1041666667rem  +  4.1666666667vw , 2.6875rem )) {
  .block-1-slide__text {
    margin-bottom: clamp( 0.9375rem , 0.1041666667rem  +  4.1666666667vw , 2.6875rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.1041666667rem  +  4.1666666667vw , 2.6875rem )) {
  .block-1-slide__text {
    margin-bottom: calc(0.9375rem + 1.75 * (100vw - 20rem) / 42);
  }
}

@supports (font-size: clamp( 0.9375rem , 1.1220238095rem  +  -0.2976190476vw , 1.0625rem )) {
  .block-1-slide__text {
    font-size: clamp( 0.9375rem , 1.1220238095rem  +  -0.2976190476vw , 1.0625rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 1.1220238095rem  +  -0.2976190476vw , 1.0625rem )) {
  .block-1-slide__text {
    font-size: calc(1.0625rem + -0.125 * (100vw - 20rem) / 42);
  }
}

@supports (line-height: clamp( 1.25rem , 1.150990099rem  +  0.495049505vw , 1.5625rem )) {
  .block-1-slide__text {
    line-height: clamp( 1.25rem , 1.150990099rem  +  0.495049505vw , 1.5625rem );
  }
}

@supports not (line-height: clamp( 1.25rem , 1.150990099rem  +  0.495049505vw , 1.5625rem )) {
  .block-1-slide__text {
    line-height: calc(1.25rem + 0.3125 * (100vw - 20rem) / 63.125);
  }
}

.block-1-slide__button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.375rem;
  height: 3.375rem;
}

.block-1-slide__button img {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.block-2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-2__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40% s;
          flex: 0 1 40% s;
}

.block-2__title {
  margin-bottom: 0.5625rem;
}

@supports (padding-top: clamp( 0.0000000625rem , -1.0714282946rem  +  2.2321424107vw , 0.3125rem )) {
  .block-2__title {
    padding-top: clamp( 0.0000000625rem , -1.0714282946rem  +  2.2321424107vw , 0.3125rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , -1.0714282946rem  +  2.2321424107vw , 0.3125rem )) {
  .block-2__title {
    padding-top: calc(0.0000000625rem + 0.3124999375 * (100vw - 48rem) / 14);
  }
}

.block-2__text {
  margin-bottom: 1.1875rem;
  max-width: 33.125rem;
}

.block-2__images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@supports (gap: clamp( 0.625rem , 0.2380952381rem  +  1.9345238095vw , 1.4375rem )) {
  .block-2__images {
    gap: clamp( 0.625rem , 0.2380952381rem  +  1.9345238095vw , 1.4375rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.2380952381rem  +  1.9345238095vw , 1.4375rem )) {
  .block-2__images {
    gap: calc(0.625rem + 0.8125 * (100vw - 20rem) / 42);
  }
}

.block-2__image {
  position: relative;
}

.block-2__image img {
  width: 100%;
  height: 100%;
  max-width: 19.1875rem;
  max-height: 10.9375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-3__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (margin-bottom: clamp( 1.25rem , 0.1014851485rem  +  5.7425742574vw , 4.875rem )) {
  .block-3__title {
    margin-bottom: clamp( 1.25rem , 0.1014851485rem  +  5.7425742574vw , 4.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.1014851485rem  +  5.7425742574vw , 4.875rem )) {
  .block-3__title {
    margin-bottom: calc(1.25rem + 3.625 * (100vw - 20rem) / 63.125);
  }
}

.block-3__body {
  border: 1px solid #777777;
  border-radius: 0.625rem;
}

.block-3__border-body {
  display: -ms-grid;
  display: grid;
}

.block-3__item {
  text-align: center;
}

.block-3__subtitle {
  text-transform: uppercase;
  line-height: 1.6428571429;
}

.block-3__value {
  font-size: 1.875rem;
  line-height: 1.2;
}

.block-3__text {
  line-height: 1.6428571429;
}

.block-4__title {
  margin-bottom: 0.5rem;
}

.block-4__button {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-right: 1.25rem;
}

.block-4__text {
  max-width: 32.5rem;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.541460396rem  +  1.9801980198vw , 2.1875rem )) {
  .block-4__text {
    margin-bottom: clamp( 0.9375rem , 0.541460396rem  +  1.9801980198vw , 2.1875rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.541460396rem  +  1.9801980198vw , 2.1875rem )) {
  .block-4__text {
    margin-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 63.125);
  }
}

.block-4-tabs {
  position: relative;
}

.block-4-tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.1041666667rem  +  5.2083333333vw , 3.125rem )) or (column-gap: clamp( 0.9375rem , -0.1041666667rem  +  5.2083333333vw , 3.125rem ))) {
  .block-4-tabs__navigation {
    -webkit-column-gap: clamp( 0.9375rem , -0.1041666667rem  +  5.2083333333vw , 3.125rem );
       -moz-column-gap: clamp( 0.9375rem , -0.1041666667rem  +  5.2083333333vw , 3.125rem );
            column-gap: clamp( 0.9375rem , -0.1041666667rem  +  5.2083333333vw , 3.125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.1041666667rem  +  5.2083333333vw , 3.125rem )) or (column-gap: clamp( 0.9375rem , -0.1041666667rem  +  5.2083333333vw , 3.125rem ))) {
  .block-4-tabs__navigation {
    -webkit-column-gap: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 42);
       -moz-column-gap: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 42);
            column-gap: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 42);
  }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3873762376rem  +  1.1881188119vw , 1.375rem )) {
  .block-4-tabs__navigation {
    margin-bottom: clamp( 0.625rem , 0.3873762376rem  +  1.1881188119vw , 1.375rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3873762376rem  +  1.1881188119vw , 1.375rem )) {
  .block-4-tabs__navigation {
    margin-bottom: calc(0.625rem + 0.75 * (100vw - 20rem) / 63.125);
  }
}

.block-4-tabs__title {
  padding: 0.5rem 0;
  color: #F9D119;
  font-weight: 600;
  line-height: 1.2142857143;
  position: relative;
  font-size: 0.9375rem;
}

.block-4-tabs__title::after {
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  -o-transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  height: 0.125rem;
  background-color: #1D1D1D;
}

.block-4-tabs__title._tab-active::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.block-4-tabs__slider {
  position: relative;
  overflow: visible !important;
}

.block-4-tabs__slide {
  max-width: 26.25rem;
}

.block-4-tabs__slide img {
  min-height: 17.5rem;
  width: 100%;
}

.block-4-tabs__arrows {
  z-index: 100;
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  pointer-events: none;
}

.block-4-tabs__arrows button {
  background-color: rgba(249, 174, 25, 0.7);
  border-radius: 50%;
  pointer-events: auto;
}

.block-4-tabs__prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .block-3__border-body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .block-4-tabs__prev {
    margin-left: -0.9375rem;
  }

  .block-4-tabs__next {
    margin-right: -0.9375rem;
  }
}

@media (min-width: 47.99875em) {
  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .block-3__border-body {
    -ms-grid-columns: 180px 129px 210px 215px;
    grid-template-columns: 180px 129px 210px 215px;
    padding-top: 0.625rem;
    padding-bottom: 0.6875rem;
  }

  .block-3__item:not(:last-child) {
    border-right: 1px solid #777777;
  }

  .block-3__subtitle {
    margin-bottom: 0.625rem;
  }

  .block-3__value {
    margin-bottom: 0.375rem;
  }

  .block-4__header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 61.99875em) {
  .block-2__title {
    margin: 0 auto;
    max-width: 31.25rem;
    text-align: center;
    margin-bottom: 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .header__menu {
    background-color: #000;
    color: #fff;
    padding: 1.25rem;
    padding-top: 9.375rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -200%;
    left: 0;
    z-index: 20;
    -webkit-transition: top 0.3s ease 0s;
    -o-transition: top 0.3s ease 0s;
    transition: top 0.3s ease 0s;
  }

  .menu-open .header__menu {
    top: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 25;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .block-1-slide__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .block-2__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    row-gap: 1.25rem;
  }

  .block-2__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-3__item {
    padding: 0.625rem;
    margin: 0 0.9375rem;
  }

  .block-3__item:not(:nth-child(3),
  :nth-child(4)) {
    border-bottom: 1px solid #777777;
  }

  .block-4__container {
    text-align: center;
  }

  .block-4__text {
    margin: 0 auto;
    margin-bottom: 1.25rem;
  }

  .block-4-tabs__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block-4-tabs__slider {
    margin: 0 -0.9375rem;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 29.99875em) {
  .block-3__item:not(:last-child) {
    border-bottom: 1px solid #777777;
  }
}

@media (any-hover: hover) {
  .btn-1,
  .block-4__button,
  .block-2__button {
    -webkit-transition: all 0.35s ease 0s;
    -o-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
  }

  .btn-1:hover,
  .block-4__button:hover,
  .block-2__button:hover {
    -webkit-transform: translate(0px, -0.2px);
        -ms-transform: translate(0px, -0.2px);
            transform: translate(0px, -0.2px);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.94)), color-stop(52.08%, rgba(255, 255, 255, 0.24)), color-stop(52.09%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.29))), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), color-stop(51.56%, rgba(255, 255, 255, 0))), #f9ae19;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.94) 0%, rgba(255, 255, 255, 0.24) 52.08%, rgba(255, 255, 255, 0) 52.09%, rgba(255, 255, 255, 0.29) 100%), -o-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 51.56%), #f9ae19;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.94) 0%, rgba(255, 255, 255, 0.24) 52.08%, rgba(255, 255, 255, 0) 52.09%, rgba(255, 255, 255, 0.29) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 51.56%), #f9ae19;
    -webkit-box-shadow: 1px 1px 2px #000, inset 0 1px 3px 2px #fff;
            box-shadow: 1px 1px 2px #000, inset 0 1px 3px 2px #fff;
  }

  .header__item:hover {
    text-decoration: underline;
  }

  .block-1-slide__button {
    -webkit-transition: all 0.35s ease 0s;
    -o-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
  }

  .block-1-slide__button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: brightness(3);
            filter: brightness(3);
  }

  .block-4-tabs__title {
    -webkit-transition: color 0.35s ease 0s;
    -o-transition: color 0.35s ease 0s;
    transition: color 0.35s ease 0s;
  }

  .block-4-tabs__title:hover {
    color: #f9ae19;
  }

  .block-4-tabs__arrows button {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .block-4-tabs__arrows button:hover {
    background-color: rgb(249, 174, 25);
  }

  .block-4-tabs__prev:hover {
    -webkit-transform: scale(1.1) rotate(-180deg);
        -ms-transform: scale(1.1) rotate(-180deg);
            transform: scale(1.1) rotate(-180deg);
  }

  .block-4-tabs__next:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}